.banner-section{
  margin: 0;
  background-size: cover;
	background-position: center;
	/* backdrop-filter: blur(10px); */
  /* padding: 8px; AGATHE */
  border: white 2px solid;
  background-repeat: ;
}

.container-section{
  /* width: 90vw; AGATHE
  margin: 5vw; */
}

.job {
  backdrop-filter: blur(3px); /* AGATHE */
  padding: 50px; /* AGATHE */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
}

.job-description{
  flex-grow: 1;
  padding: 16px;
  color: white;
  text-shadow: 0 0 0 rgba(0,0,0,0.8);
  align-items: start;
}

.job-description h4 {
  margin: 0;
}

.job-description p{
  font-size: 13px;
  opacity: 0.9;
}


.logo-grid{
  display: flex; /* Finalement en flex plutôt que grid sinon sous le texte ça dispatch sur toute la page*/
  /* grid-template-columns: 1fr 1fr 1fr; */
  padding: 16px;
}

.logo-grid-img{
  width: 30px;
  height: 30px;
  margin: 4px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 0 rgba(126, 126, 126, 0.8);
}
